@charset "UTF-8";
@import url(../variables.css);

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Light.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Medium.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-SemiBold.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3, h4, h5, h6 {
    font-size: 1.3rem;
}

.mySVG {
    display: none;
}

.ic-2 {
    fill: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-height: 100vh;
    font-family: "Poppins";
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style-type: none;
    padding: 0;
}

input[type="radio"] {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.BookItem {
    font-size: 1rem;
    padding: 10px;
    text-align: left;
    border: 1px solid #000;
    background-color: #fff;
    transition: background-color 0.5s;
}

.BookItem__btn {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    margin: 10px 5px 0;
    transition: opacity 0.5s;
}

.BookItem__btn button {
    border: 1px solid;
    width: 32px;
    height: 32px;
    font-size: 0;
    background: #fff;
    background-image: url(../img/rubbish.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.BookItem__btn--edit button {
    background-image: url("../img/pencil.png");
}

.BookItem:hover {
    background-color: #4491fa;
    padding-bottom: 10px;
    color: #fff;
    transition: background-color 0.5s;
}

.BookItem:hover > .BookItem__btn {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;

}

.BookItem__btn button:hover {
    box-shadow: 2px 2px 7px 0px #2f4667;
}

.BookItem__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.BookItem__autor {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookList {
    text-align: left;
    border: 1px solid;
    padding: 5px 10px;
    font-size: 0;
}

.bookList legend {
    display: inline-block;
    padding: 5px;
    text-align: left;
    font-size: 1rem;
}

.bookList__book {
    padding: 5px;
    vertical-align: top;
}

@media(min-width: 768px){
    .bookList__book {
        display: inline-block;
        width: 50%;
    }
}

@media(min-width: 1024px){
    .bookList__book {
        display: inline-block;
        width: 33.3333%;
    }
}


.sort {
    text-align: center;
    border: 1px solid;
    padding: 5px 10px 8px;
}

.sort legend {
    display: inline-block;
    padding: 5px;
    text-align: left;
    font-size: 1rem;
}

.home {
    font-size: 0;
}

.home__wrapper {
    position: relative;
    overflow: hidden;
    height: 95%;
    max-width: 1100px;
    margin: 0 auto;
}

.home__bookform {
    padding: 10px;
    width: 100%;
}

@media (min-width: 768px) {
    .home__bookform {
        vertical-align: top;
        display: inline-block;
        max-width: 33.3333333333%;
    }
}

.home__contents {
    vertical-align: top;
    width: 100%;
    padding: 10px;
}

@media (min-width: 768px) {
    .home__contents {
        display: inline-block;
        max-width: 66.6666666667%;
    }
}

.home__filter {
    padding: 0 10px;
    width: 100%;
}

@media (min-width: 768px) {
    .home__filter {
        vertical-align: top;
        display: inline-block;
        max-width: 50%;
    }
}

.home__search {
    padding: 0 10px;
    width: 100%;
}

@media (min-width: 768px) {
    .home__search {
        vertical-align: top;
        display: inline-block;
        max-width: 50%;
    }
}

.home__content {
    padding: 10px;
    width: 100%;
    display: block;
}

.inputBlock {
    font-size: 1rem;
    display: block;
    padding: 5px;
    text-align: left;
}

.inputBlock__title {
    display: block;
}

.inputBlock__input {
    display: block;
    width: 100%;
    padding: 5px;
}

.inputDot {
    display: block;
    margin: 0;
    position: relative;
    text-align: left;
}

.inputDot__input:checked ~ .inputDot__label > .inputDot__dot:before {
    display: block;
}

.inputDot__input:disabled ~ .inputDot__label {
    color: #888;
    cursor: default;
}

.inputDot__input:disabled ~ .inputDot__label > .inputDot__dot:before {
    background-color: #888;
}

.inputDot__label {
    white-space: nowrap;
    cursor: pointer;
}

.inputDot__text {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}

.inputDot__dot {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    border: 2px solid;
    padding: 2px;
}

.inputDot__dot:before {
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    background-color: #4491fa;
}

.inputDot__dot_radio {
    border-radius: 50%;
}

.inputDot__dot_radio:before {
    border-radius: 100%;
}

.Alert {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #000;
    max-width: 300px;
    color: #000;
}

.Alert__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.52);
}

.Alert__wrapper:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Alert__title {
    width: 100%;
    display: inline-block;
    padding: 0 0 10px;
}

.Alert__btn {
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.Alert__btn button {
    padding: 5px 10px;
}

.Layout__contentAll {
    min-height: 100%;
    min-height: 100vh;
}

.Layout__content {
    box-sizing: border-box;
    height: 100vh;
    padding-bottom: 100px;
}

.search {
    text-align: center;
    border: 1px solid;
    padding: 5px 10px;
}

.search legend {
    display: inline-block;
    padding: 5px;
    text-align: left;
    font-size: 1rem;
}

.search__button {
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
}

.formBook {
    text-align: center;
}

.formBook__inputs {
    border: 1px solid;
    padding: 5px 10px;
}

.formBook__inputs legend {
    display: inline-block;
    padding: 5px;
    text-align: left;
    font-size: 1rem;
}

.formBook__button {
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
}

.formBook__button button {
    background: #fff;
    border: 1px solid;
    padding: 5px 10px;
    cursor: pointer;
}

.formBook__button button:hover {
    border-color: #4491fa;
    background-color: #4491fa;
    color: #fff;
}

.allContent {
    max-width: 1000px;
    margin: 0 auto;
}

.allContent__wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -50px 0;
    min-height: 100%;
    padding-bottom: 300px;
    overflow: hidden;
    position: relative;
}

@media (min-width: 768px) {
    .allContent__wrapper {
        padding-bottom: 190px;
        background-position: -10px 0;
    }
}

@media (min-width: 1024px) {
    .allContent__wrapper {
        padding-bottom: 150px;
    }
}
